#Div{
    background: linear-gradient(220deg, #de1afb 20%, #6881e3, #62d2e3);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_div{
    /* text-align: center; */
    width: 510px;
    min-height: 500px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
}
#SignUp{
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.Input_div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: larger;
    /* align-items: center; */
    margin: -15px 0;
}
.Input{
    width: 445px;
    height: 40px;
    border: 0.5px solid rgb(151, 143, 143);
    border-radius: 5px;
    padding-left: 20px;
    font-size: large;
}
.Name_Input{
    width: 230px;
    height: 40px;
    border: 0.5px solid rgb(151, 143, 143);
    border-radius: 5px;
    padding-left: 20px;
    margin: 0 5px;
    box-sizing: border-box;
    font-size: large;
}
#Name_div{
    display: flex;
    justify-content: center;
}
#Gender{
    width: 100px;
    height: 40px;
    font-size: large;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
}
#SubmitButton{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #de1afb 20%, #6881e3, #62d2e3 );
}
#btn_div{
    text-align: center;
}
.val_text{
    margin: 5px;
    font-size: 13px;
    font-weight: 700;
    color: red;
    
}